------ BY PALLAS-------


endpoint_add_tcp "0.0.0.0:30120"

endpoint_add_udp "0.0.0.0:30120"

set sv_enforceGameBuild 3095

set mysql_connection_string "server=localhost;uid=root;password=;database=bdd"
set mysql_debug_output "console"



sv_enforceGameBuild 3258
set sv_requestParanoia 0
set sv_endpointprivacy false
sv_forceIndirectListing false
set sv_useDirectListing true
set sv_authMinTrust 0
set sv_debug false


set sv_licenseKey ""
set steam_webApiKey ""

set onesync on
set onesync_enabled 1
set onesync_enabled 1
set onesync_enableInfinity 1
set onesync_enableInfinity true
set onesync_enable 1
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_enableBeyond 1
set onesync_distanceCullVehicles true


sv_scriptHookAllowed 0
sv_maxclients 10
#sv_master1

exec "resources.cfg"


sv_useDirectListing false
#set sv_listingIPOverride "95.156.225.4"

sv_hostname "Pallas FA"
sets sv_projectName "Pallas"
sets sv_projectDesc "discord.gg/pallas"
setr sv_type "FA"
sets locale "fr-FR"
sets Site "🍇 pallas.com/"
sets Boutique "🛒 shop.pallasfa.fr"
sets Discord "🌐 discord.gg/pallas"
sets Développement ""
sets Illégal ""
sets Légal ""
sets Staff ""

sets banner_detail ""
sets banner_connecting ""


setr voice_useNativeAudio true
setr voice_enableSubmix 1
setr voice_enableUi 1
setr voice_enableRadioAnim 1
setr voice_syncData 1
setr voice_useSendingRangeOnly true
setr voice_defaultRadioVolume 50


add_ace group.founder command.muteply allow
add_ace group.admin command.lbphone_admin allow
add_ace group.founder command allow
add_ace group.founder command.ensure allow
add_ace group.founder command.restart allow
